.background-color {
  background-image: linear-gradient(to right bottom, #b0b6c2, #adb3bf, #aab0bc, #a8aeba, #a5abb7, #969ba6, #888c96, #7a7d86, #5d5f65, #414246, #27272a, #0d0d0e);
}

.car-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  column-gap: 2%;
  row-gap: 2%;
  height: 105%;
  width: 90%;
  position: absolute;
  top: 120%;
  left: 6%;
  overflow-y: auto;
}

.card-skeleton {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: 5%;
  background-color: aliceblue;
}

.car-price {
  width: 100px;
  height: 30px;
  background-color: rgba(18, 18, 18, 0.91);
  position:relative;
  top: 0;
  left: 0;
  margin-left: 300px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  // color: rgba(255, 255, 255, 0.42);
  color: #bb9b49;
  font-family: 'Inconsolata', monospace;
  z-index: 2;
}

.card-skeleton:hover {
  box-shadow: 0 0 10px 0 #ebd197 inset, 0 0 20px 2px #bb9b49;
  cursor: pointer;
}

.car-img {
  width: 400px;
  margin-top: -30px;
}

.car-img img {
  width: 100%;
  transition: 0.5s all ease-in-out;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.car-img:hover img {
  transform: scale(1.02);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.car-details {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.car-detail {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.car-details-first, .car-details-second {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 5%;
}


button {
  all: unset;
  cursor: pointer;
}
