<div>
	
	<img src="../../assets/bwgold.avif" alt="landing-page"
			 style='width: 100%; height: 100%; object-fit: cover; margin-top: -1%;
			 z-index: -1; position: relative' />
	
	<div class="main-label">
		<span>Veículos disponíveis</span>
	</div>
	<div class="car-card-container">
		<div class="card-skeleton" *ngFor="let car of carDetailsMockedData"
				 (click)="showCarDetails(car.id)">
			<div>
				<div class="car-price">{{car.price}}</div>
				<div class="car-img">
					<img class="car-img_" src="assets/audi.jpg" alt="bmw"/>
				</div>
			</div>
			
			<div class="car-detail">
				<span>{{car.carDetail}}</span>
			</div>
			<div class="car-details">
				<div class="car-details-first">
					<div>
						<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
						<span class="car-label">{{car.year}}</span>
					</div>
					<div>
						<i class="fa fa-car" aria-hidden="true"></i>
						<span class="car-label">{{car.km}}</span>
					</div>
				</div>
				
				<div id="container">
					<button class="learn-more">
						<span class="circle" aria-hidden="true">
							<span class="icon arrow"></span>
						</span>
						<span class="button-text">Learn More</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>



