.background-color {
  background-image: linear-gradient(to right bottom, #b0b6c2, #adb3bf, #aab0bc, #a8aeba, #a5abb7, #969ba6, #888c96, #7a7d86, #5d5f65, #414246, #27272a, #0d0d0e);
}

.car-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  column-gap: 2%;
  row-gap: 2%;
  height: 90%;
  width: 90%;
  position: absolute;
  top: 135%;
  left: 6%;
  overflow-y: auto;
}

.card-skeleton {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 450px;
  margin: 5%;
  background-color: aliceblue;
}

.car-price {
  width: 100px;
  height: 30px;
  background-color: rgba(18, 18, 18, 0.91);
  position:relative;
  top: 0;
  left: 0;
  margin-left: 300px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  // color: rgba(255, 255, 255, 0.42);
  color: #bb9b49;
  font-family: 'Inconsolata', monospace;
  z-index: 2;
}

.card-skeleton:hover {
  box-shadow: 0 0 10px 0 #ebd197 inset, 0 0 20px 2px #bb9b49;
  cursor: pointer;
}

.car-img {
  width: 400px;
  margin-top: -30px;
}

.car-img img {
  width: 100%;
  transition: 0.5s all ease-in-out;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.car-details {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.car-detail {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.car-details-first, .car-details-second {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 5%;
}


button {
  all: unset;
  cursor: pointer;
}

.main-label {
  position: absolute;
  top: 122%;
  left: 7%;
  font-family: "Inconsolata", monospace;
  font-size: 50px;
  text-transform: uppercase;
  color: #FEFCED;
}

.car-label {
  font-family: "Inconsolata", monospace;
  margin-left: 10px;
}



$bg: #f3f8fa;
$white: #fff;
$black: #282936;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Mukta', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: $bg;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white;
    }
  }
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }

  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}


