<p class="testFont">car-cards works!</p>

<p class="testFont2">car-cards works!</p>


<div style="display: flex; flex-direction: row">
	<div class="card-skeleton" *ngFor="let car of carDetailsMockedData">
		<div class="car-img">
			<img class="car-img_" src="assets/bmw.avif" width="300px" height="200px" alt="bmw"/>
		</div>
		<div class="car-detail">
			<span>{{car.carDetail}}</span>
		</div>
		<div class="car-details">
			<div class="car-details-first">
				<span class="testFont">{{car.year}}</span>
				<span class="testFont2">{{car.km}}</span>
			</div>
			<div class="car-details-second">
				<span class="testFont">{{car.price}}</span>
				<span class="testFont2">{{car.power}}</span>
			</div>
		</div>
	</div>
</div>


