mat-toolbar {
  background: #004a9f;
  color: white;
}

.mat-sidenav {
  margin: 16px;
  width: 250px;
  background: rgba(18, 18, 18, 0.91);
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  border-radius: 10px;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

button {
  all: unset;
  cursor: pointer;
}


img {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  color: white;
}

.company-name {
  position: absolute;
  top: 300px;
  left: 200px;
  font-family: "Inconsolata", monospace;
  font-size: 50px;
  text-transform: uppercase;
}

.menu-button-cars {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 400px;
  left: 323px;
  width: 275px;
  height: 50px;
  border: 1px solid gold;
  border-radius: 50px;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  text-transform: uppercase;
  transition: 1s box-shadow;
  margin: 20px auto;
  font-weight: lighter;
  letter-spacing: 2px;
}

.toolbar-glasmorphic {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  width: 100%;
  backdrop-filter: blur(10px);
}

#social-test {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  top: 1000px;
  left: 1300px;
  h2 {
    color: #fff;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 100;
  }

  li {
    color: rgba(167, 146, 129, 0.6);
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 1%;
    border: 1px solid gold;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease .3s;
    &:hover {
      color: rgba(167, 146, 129, 1);
      border: 1px solid rgba(167, 146, 129, 1);
    }
  }
}

.social:hover > li {
  opacity: 0.3;
}

.social:hover > li:hover {
  opacity: 1;
}
