<div class="container">
	<div style="width: 100%; height: 50px" class="toolbar-glasmorphic">
	
	</div>
	<img src="../../assets/fordGT.jpeg" alt="landing-page"
			 style='width: 100%; height: 100%; object-fit: cover' />
	<div class="company-name">Insert Company Name</div>
	
	<div class="action-buttons-placement">
		<app-main-action-buttons
			[mainActionButtonsMocked]="mainActionButtonMocked"
			(goToSection)="scrollToSection($event)"
		></app-main-action-buttons>
	</div>
</div>

<div style="width: 100%">
	<section id="available-cars"></section>
	<app-car-cards>
	</app-car-cards>
	<section id="contact-us"></section>
	<app-contact-us></app-contact-us>

</div>


